.logo {
  background-repeat: no-repeat;
  font-size: 0.9em;
  text-align: center;
  padding: 2em;
}

.logo strong {
  color: #2f2f2f;
}

.logo p {
  color: #777777;
}

.logo h1 {
  color: #516c86;
  font-size: 4em;
}

.logo img {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
